/* ========== VAR ========== */
:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --primary-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --white: #ffffff;
  --accent-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --success-collor: #31d0aa;
  --modal-background: #fcfcfc;
  --modal-overlay: #2e2f42;
  --primary-font: 'Roboto', sans-serif;
  --width-big-card: calc((100% - 48px) / 3);
  --width-small-card: calc((100% - 72px) / 4);
}
/* ========== /VAR ========== */

/* ========== COMMON ========== */
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--white);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .list {
  display: flex;
  gap: 24px;
}

.visually-hidden,
.section-header.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.team {
  background-color: var(--light-background-color);
}
/* ========== /COMMON ========== */

/* ========== NAVIGATION ========== */
.site-nav {
  font-weight: 500;
  align-items: center;
}

.link-to {
  color: var(--dark-color);
  padding: 24px 0;
}

.link-to:hover,
.link-to:focus {
  color: var(--pressed-color);
}

/* ========== /NAVIGATION ========== */

/* ========== LOGO ========== */
.site-logo {
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.034em;
  text-transform: uppercase;
  margin-right: 76px;
}

.second-color-header {
  color: var(--dark-color);
}

.second-color-footer {
  color: var(--light-background-color);
}
/* ========== /LOGO ========== */

/* ========== ADDRESS ========== */
.company-contacts {
  font-style: normal;
}

.contact:hover,
.contact:focus {
  color: var(--pressed-color);
}

.contact {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--pressed-color);
}
/* ========== /ADDRESS ========== */

/* ========== HEADERS ========== */
.display-header {
  color: var(--white);
  text-align: center;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-header {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.benefit-header,
.teammate-name,
.project-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
  margin-bottom: 8px;
}
/* ========== /HEADERS ========== */

/* ========== BUTTONS ========== */
button {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.cta-button {
  /* Button Frame */
  min-width: 169px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  background-color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Button Text */
  color: var(--white);
}

.subscribe-button {
  /* Button Frame */
  min-width: 165px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Button Text */
  color: var(--white);
  fill: var(--white);
}

.icon-order {
  margin-left: 16px;
}

.order-button {
  height: 56px;
  margin-top: 24px;
}

.cta-button:hover,
.cta-button:focus,
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-color);
}

.filter-button {
  /* Button Frame */
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
  background-color: var(--light-background-color);
  /* Button Text */
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  border: none;
  color: var(--white);
  background-color: var(--pressed-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* ========== /BUTTONS ========== */

/* ========== CARDS ========== */
.teammate {
  width: var(--width-small-card);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.list .project {
  background: var(--white);
  width: var(--width-big-card);
}

.card-doing {
  width: var(--width-big-card);
}

.project-category {
  color: var(--primary-text-color);
}

.card-benefit {
  width: var(--width-small-card);
}

.benefit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--light-background-color);
  margin-bottom: 8px;
}
/* ========== /CARDS ========== */

/* ========== FORMS ========== */
.feedback-info {
  text-align: center;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.link-form {
  color: var(--primary-color);
}

.order-privacy-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-user-email {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-user-email::placeholder {
  color: var(--white);
}

.callback-form {
  display: flex;
  gap: 24px;
}

.order-form-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.input-wrapper {
  position: relative;
}

.order-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--dark-color);
}

.order-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  outline-offset: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus,
.order-comment-input:focus {
  border-color: var(--primary-color);
}

.order-form-input:focus + .order-icon {
  fill: var(--primary-color);
}

.order-field-wrapper {
  margin-bottom: 8px;
}

.order-comment-wrapper {
  margin-bottom: 16px;
}

.order-comment-input {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  outline-offset: 4px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-privacy-wrapper {
  margin-bottom: 24px;
}

.icon-checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-privacy-checkbox:focus + .order-privacy-text .icon-checkbox-wrapper {
  border-color: var(--pressed-color);
}

.order-privacy-checkbox:checked + .order-privacy-text .icon-checkbox-wrapper {
  fill: var(--light-background-color);
  background-color: var(--pressed-color);
  border: none;
}
/* ========== /FORMS ========== */

/* ========== HEADER ========== */
.site-header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav,
.list.pages,
.list.contacts {
  display: flex;
}

.link-to {
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--pressed-color);
}

.link-to::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}

.link-to.current::after {
  background-color: var(--pressed-color);
}
/* ========== /HEADER ========== */

/* ========== HERO ========== */
.hero {
  display: flex;
  margin: 0 auto;
  flex-shrink: 0;
  background-color: var(--dark-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-screan.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
/* ========== /HERO ========== */

/* ========== BENEFITS ========== */
.benefits {
  padding: 120px 0;
}
/* ========== /BENEFITS ========== */

/* ========== SERVICES ========== */
.our-doing {
  padding-bottom: 120px;
}

.what-do {
  display: flex;
}
/* ========== /SERVICES ========== */

/* ========== TEAM ========== */
.team {
  padding: 120px 0;
}

.team-list {
  display: flex;
}

.teammate {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-position {
  padding: 32px 0;
  text-align: center;
}

.teammate-position {
  margin-bottom: 8px;
}

.teammate-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.teammate-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--light-background-color);
  background-color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teammate-link:hover,
.teammate-link:focus {
  background-color: var(--pressed-color);
}
/* ========== /TEAM ========== */

/* ========== CUSTOMERS ========== */
.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--subtle-text-color);
  border: 1px solid var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--pressed-color);
  border-color: var(--pressed-color);
}

.customer-icons {
  fill: currentColor;
}
/* ========== /CUSTOMERS ========== */

/* ========== PORTFOLIO ========== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  margin-bottom: 72px;
  justify-content: center;
}

.list.projects {
  flex-wrap: wrap;
  row-gap: 48px;
}

.name-and-category {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .overley-text,
.portfolio-link:focus .overley-text {
  transform: translateY(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overley-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: var(--light-background-color);
  background-color: var(--primary-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========== /PORTFOLIO ========== */

/* ========== FOOTER ========== */
.site-footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content-container {
  display: block;
  margin-right: 120px;
}

.footer-social-container {
  margin-right: 80px;
}

.footer-slogan {
  color: var(--white);
  max-width: 264px;
}

.our-social,
.subscribe {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 16px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.list.footer-socials-list {
  display: flex;
  gap: 16px;
}

.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--light-background-color);
  background-color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover,
.company-link:focus {
  background-color: var(--success-collor);
}
/* ========== /FOOTER ========== */

/* ========== MODAL WINDOW ========== */
.modal-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover,
.modal-window-close-button:focus {
  background-color: var(--pressed-color);
  border: none;
}

.modal-window-close-button-image {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover .modal-window-close-button-image,
.modal-window-close-button:focus .modal-window-close-button-image {
  fill: var(--white);
}
/* ========== /MODAL WINDOW ========== */
