@media screen and (max-width: 767px) {
  .benefit-icon {
    display: none;
  }

  .benefits .container {
    padding: 96px 16px;
  }

  .list.benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px 24px;
  }

  .card-benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 396px;
    margin: 0 auto;
    gap: 8px;
  }

  .benefit-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
  }

  .benefit-text {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .benefit-icon {
    display: none;
  }
  .benefits {
    padding: 96px 0;
  }

  .list.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .card-benefit {
    width: calc((100% - 24px) / 2);
  }

  .benefit-header {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
  }
}

@media screen and (min-width: 1158px) {
  .benefit-icon {
    display: block;
  }

  .benefit-header {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.025em;
    padding-top: 0;
  }

  .benefits {
    padding: 120px 0;
  }

  .card-benefit {
    width: var(--width-small-card);
  }

  .benefit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--light-background-color);
    margin-bottom: 8px;
  }
}
