.site-footer {
  background-color: var(--dark-color);
}

.footer-slogan {
  color: var(--white);
  max-width: 264px;
}

.our-social,
.subscribe {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 16px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.list.footer-socials-list {
  display: flex;
  gap: 16px;
}

.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--light-background-color);
  background-color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-user-email {
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-user-email::placeholder {
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
  }

  .footer-content-container,
  .footer-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .callback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .subscribe-user-email {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .container.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 96px 108px;
  }

  .subscribe-user-email {
    width: 264px;
  }

  .callback-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container.footer-container {
    padding: 100px 0;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .footer-content-container {
    display: block;
    margin-right: 120px;
  }

  .footer-social-container {
    margin-right: 80px;
  }
  .company-link:hover,
  .company-link:focus {
    background-color: var(--success-collor);
  }
}
