/* ========== NAVIGATION ========== */

/* ========== /NAVIGATION ========== */

/* ========== LOGO ========== */
.site-logo {
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.034em;
  text-transform: uppercase;
}

.second-color-header {
  color: var(--dark-color);
}

.second-color-footer {
  color: var(--light-background-color);
}
/* ========== /LOGO ========== */

/* ========== HEADER ========== */
.site-header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ========== /HEADER ========== */

@media screen and (max-width: 767px) {
  .list.pages,
  .company-contacts {
    display: none;
  }

  .button-open-mobile-menu {
    border: none;
    background-color: transparent;
    padding: 24px 0;
    line-height: 0;
    stroke: var(--dark-color);
  }
}

@media screen and (min-width: 768px) {
  .button-open-mobile-menu {
    display: none;
  }

  .list.pages {
    display: flex;
    gap: 40px;
  }

  .site-nav {
    display: flex;
    font-weight: 500;
    align-items: center;
  }

  .site-logo {
    margin-right: 120px;
  }

  .list.contacts {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .link-to {
    display: block;
    position: relative;
    color: var(--dark-color);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    color: var(--pressed-color);
  }

  .link-to::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
  }

  .link-to.current::after {
    background-color: var(--pressed-color);
  }

  .company-contacts {
    font-style: normal;
  }

  .contact {
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact:hover,
  .contact:focus {
    color: var(--pressed-color);
  }

  .link-to:hover,
  .link-to:focus {
    color: var(--pressed-color);
  }
}

@media screen and (min-width: 1158px) {
  .list.contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
