@media screen and (max-width: 767px) {
  .mobile-menu-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-window.is-open {
    transform: translateY(0);
  }

  .mobile-menu-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper {
    position: relative;
    padding-top: 80px;
    max-width: 353px;
    margin: 0 auto;
  }

  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 25%;
  }

  .mobile-menu-link {
    color: var(--dark-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .mobile-menu-window-contacts {
    padding-bottom: 58px;
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-mail .link {
    color: var(--primary-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .mobile-phone .link {
    color: var(--primary-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
  }

  .mobile-menu-social {
    padding-bottom: 40px;
  }

  .mobile-menu-socials-list {
    display: flex;
    gap: 56px;
  }

  .current {
    color: var(--pressed-color);
  }

  .link.current::after {
    background-color: var(--pressed-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-window {
    display: none;
  }
}
