/* ========== MODAL WINDOW ========== */
.modal-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover,
.modal-window-close-button:focus {
  background-color: var(--pressed-color);
  border: none;
}

.modal-window-close-button-image {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover .modal-window-close-button-image,
.modal-window-close-button:focus .modal-window-close-button-image {
  fill: var(--white);
}
/* ========== /MODAL WINDOW ========== */

/* ========== FORMS ========== */
.feedback-info {
  text-align: center;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.link-form {
  color: var(--primary-color);
}

.order-privacy-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.order-form-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.input-wrapper {
  position: relative;
}

.order-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--dark-color);
}

.order-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  outline-offset: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus,
.order-comment-input:focus {
  border-color: var(--primary-color);
}

.order-form-input:focus + .order-icon {
  fill: var(--primary-color);
}

.order-field-wrapper {
  margin-bottom: 8px;
}

.order-comment-wrapper {
  margin-bottom: 16px;
}

.order-comment-input {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  outline-offset: 4px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-privacy-wrapper {
  margin-bottom: 24px;
}

.icon-checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-privacy-checkbox:focus + .order-privacy-text .icon-checkbox-wrapper {
  border-color: var(--pressed-color);
}

.order-privacy-checkbox:checked + .order-privacy-text .icon-checkbox-wrapper {
  fill: var(--light-background-color);
  background-color: var(--pressed-color);
  border: none;
}
/* ========== /FORMS ========== */

@media screen and (max-width: 767px) {
  .modal-window {
    width: 392px;
  }
}
