:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --primary-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --white: #ffffff;
  --accent-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --success-collor: #31d0aa;
  --modal-background: #fcfcfc;
  --modal-overlay: #2e2f42;
  --primary-font: 'Roboto', sans-serif;
  --width-big-card: calc((100% - 48px) / 3);
  --width-small-card: calc((100% - 72px) / 4);
}
