* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--white);
}

.visually-hidden,
.section-header.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* ========== HEADERS ========== */
.display-header {
  color: var(--white);
  text-align: center;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-header {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.benefit-header,
.teammate-name,
.project-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
  margin-bottom: 8px;
}
/* ========== /HEADERS ========== */

/* ========== CONTAINERS ========== */
@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container .list {
  display: flex;
  gap: 24px;
}
/* ========== /CONTAINERS ========== */
